


@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');



* {
 
 
  max-width: 1280px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  
}

nav{
  
  background-color: chartreuse;
  margin:2px;
  font-family: "EB Garamond", serif;
  border-radius: 30px;
  height: 150px;
  width: 590px;

  
  
}
nav:hover{
  background-color:  black;
}
li{
  background-color: rgb(26, 122, 43);
  
  font-family: "EB Garamond", serif;
  font-weight: 700;
  border-radius:  30px;
  margin-left: 100px;
  width: 400px;
  height: 80px;
  
  
  
  

}
li:hover{
  background-color: rgb(255, 196, 0);
  
}
 button{
  font-family: "EB Garamond", serif;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px;
  margin-left: 100px;
 
 } 
 @media  (max-width: 750px ) {
  body {
    background-color:rgb(255, 102, 0);
  }
}

 